.App {
    text-align: center;
    margin: 20px auto;
    max-width: 1100px;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
.header {
    padding: 0 30px;
}
h1 {
    font-weight: 500;
    margin: 0;
}
h2 {
    margin: 0;
    font-weight: 400;
    text-align: left;
}
.stages {
    display: flex;
    justify-content: space-between;
}

.stage {
    flex-basis: 20%;
}
.cards {
    height: 100%;
}
.tooltip {
    position: absolute;
    width: 180px;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100%);
    background-color: white;
    box-shadow: 0 0 10px 0 black;
    z-index: 1;
    visibility: hidden;
}
.tooltip.last {
    right: calc(100%);
    left: auto;
}
.tooltip.last:before {
    right: -4px;
    left: auto;
}
.tooltip:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -4px;
    margin-top: -4px;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
    box-sizing: border-box;
    border: 4px solid white;
    transform-origin: 50% 50%;
}
.tooltip:hover {
    visibility: visible;
}
.card {
    position: relative;
    background-color: gainsboro;
    padding: 10px;
    margin: 10px;
    cursor: move;
    text-transform: uppercase;
}
.card:hover {
    background-color: darkgray;
}
.card:hover .tooltip {
    visibility: hidden;
}
.title {
    color: darkblue;
    padding: 20px;
    font-weight: 700;
}
img {
    max-width: 100%;
}
.divider {
    border-top: 2px solid darkgray;
    margin: 10px 0;
}

.gray {
    color: gray;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.hidden {
    visibility: hidden;
}